.mail-row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.mail-from {
    font-weight: bold;
    flex-basis: 200px;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-subject {
    font-weight: bold;
    text-align: left;
    flex-shrink: 0; 
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-body {
    flex-grow: 3;
    flex-shrink: 0; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-time {
    font-size: 12px;
    color: #5f6368;
    flex-shrink: 0;
    white-space: nowrap;
    margin-left: 10px;
}


