.mail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: ffffff;
    font-family: Product Sans;
    color: #5f6368;
    font-size: 2rem;
    background-color: #f6f8fc;
    padding: 10px;
}

.mail-header .logo {
    display: flex;
    align-items: center;
}

.mail-header .logo img {

    display: flex;
    align-items: center;
}

.mail-header button {
    background-color: ffffff;
    border: none;
    border-radius: 50%;
    opacity: 50%;
}

.mail-header button:hover {
    cursor: pointer;
    background-color: #6c6868;
}

.mail-search-input {
    background-color: #eaf1fb;
    border-radius: 50px;
    border: none;
    padding: 20px;
    width: 700px;
    font-size: 16px;

}