.mail-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.mail-info-container{
    display: flex;
    justify-content: space-between;

}

.mail-from {
    font-weight: bold;
    flex-basis: 200px;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-subject {
    font-weight: bold;
    text-align: left;
    flex-shrink: 0; 
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-body {
    flex-shrink: 0; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: 400px;
}

.mail-time::before {
    font-size: 12px;
    color: #5f6368;
    white-space: nowrap;
    margin-left: 10px;
    align-content: end;
    justify-self: end;
    margin-left: auto
}


