 /* mail index */


 .mail-index {
     display: flex;
     flex-direction: column;
     height: 100vh;
     overflow: hidden;
     margin: 0;
     padding: 0;
 }

 .mail-main-content {
     display: flex;
     flex-direction: row;
     height: 100vh;
 }