.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: ffffff;
    font-family: Product Sans;
    color: #5f6368;
    font-size: 0.8125rem;

}

.note-header .logo {
    display: flex;
    align-items: center;
}

.note-header .logo img{
    display: flex;
    align-items: center;
}

.note-header button{
    background-color: ffffff;
    border: none;
    border-radius: 50%;
    opacity: 50%;
}

.note-header button:hover{
    cursor: pointer;
    background-color: #6c6868;
}